<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>"> Seat Yourself</a>
    <ul class="nav">
      <li><a href="<%= root_path %>">Home</a></li>
      <li><%= link_to "Restuarants",'restaurants'%></li>
      <li><%= link_to "User",'users'%></a></li>
    </ul>
  </div>
</div>